<form [formGroup]="settingsForm" id="sme-service-general-settings" class="tool-container" aria-labelledby="sme-setting-title">
  <sme-settings-content>
    <sme-loading-wheel *ngIf="serviceDetailsLoading || startPathLoading">
    </sme-loading-wheel>
    <div *ngIf="!loading">
      <div>
        <div class="sme-custom-settings-title">{{strings.MsftSmeServiceViewer.name}}</div>
        <div class="sme-custom-settings-value">{{currentService.name}}</div>
      </div>
      <div>
        <div class="sme-custom-settings-title">{{strings.MsftSmeServiceViewer.displayName}}</div>
        <div class="sme-custom-settings-value">{{currentService.displayName}}</div>
      </div>
      <div>
        <div class="sme-custom-settings-title">{{strings.MsftSmeServiceViewer.description}}</div>
        <div class="sme-custom-settings-value">{{currentService.description}}</div>
      </div>
      <div>
        <div class="sme-custom-settings-title">{{strings.MsftSmeServiceViewer.status}}</div>
        <div class="sme-custom-settings-value">{{currentService.status}}</div>
      </div>
      <div>
        <div class="sme-custom-settings-title">{{strings.MsftSmeServiceViewer.dependencies}}: </div>
        <div *ngFor="let dependent of serviceDependencyList">
          <div class="sme-custom-settings-value">{{dependent}}</div>
        </div>
      </div>
      <div class="form-group">
        <div class="form-input">
          <label for="sme-services-startupType" class="control-label">{{strings.MsftSmeServiceViewer.Settings.General.StartupMode}} </label>
          <div class="sme-select">
            <select id="sme-services-startupType" formControlName="startupType" autofocus>
              <option *ngFor="let option of startupTypeOptions" [ngValue]="option.value">{{option.label}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="form-input">
          <label for="sme-services-startPath" class="control-label">{{ strings.MsftSmeServiceViewer.Settings.General.StartPath }}</label>
          <input type="text" class="form-control" id="sme-services-startPath" formControlName="startPath" />
        </div>
      </div>
    </div>
  </sme-settings-content>
  <sme-settings-footer class="footer">
    <div class="pull-left">
      <button type="submit" class="btn btn-primary" (click)="onSaveClick()" [disabled]="!settingsForm.dirty || !settingsForm.valid"
        form="sme-service-general-settings">{{strings.MsftSmeServiceViewer.save}}</button>
      <button type="button" class="btn btn-secondary" (click)="onDiscardClick()" [disabled]="!settingsForm.dirty">{{strings.MsftSmeServiceViewer.discard}}</button>
      <button type="button" class="btn btn-secondary" (click)="onCloseClick()">{{strings.MsftSmeServiceViewer.close}}</button>
    </div>
  </sme-settings-footer>
</form>
